{% extends "home.html" %}
{% load static %}

{% load list_filter %}
{% block content %}
    <h2 style="margin-bottom: 1.5rem!important; vertical-align: middle; text-align: center; padding-top: 200px;
                border-style: none; font-weight: bold; color: #2545fe">의견 및 평가 확인</h2>
    <div class="container my-3" style="width: 80%; margin: 0 auto;">
        <div class="col-12">
            <table class="table">
                <thead class="thead-light">
                    <tr class="text-center">
                        <th>번호</th>
                        <th style="width: 50%">제목</th>
                        <th>작성자</th>
                        <th>등록일</th>
                    </tr>
                </thead>

                <tbody>
                {% for evaluate in evaluates %}
                <tr class="text-center">
                    <td>{{ evaluates.paginator.count|sub:evaluates.start_index|sub:forloop.counter0|add:1 }}</td>
                    <td class="text-left">
                        <a href="{% url 'evaluate:detail' evaluate.pk %}" style="color: black; text-decoration: none;">
                            {{ evaluate.title }}
                        </a>
                    </td>
                    <td>{{ evaluate.writer }}</td>
                    <td>{{ evaluate.created_at|date:'Y. m. d'}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if evaluates.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ evaluates.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in evaluates.paginator.page_range %}
        {% if page_number >= evaluates.number|add:-5 and page_number <= evaluates.number|add:5 %}
            {% if page_number == evaluates.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if evaluate_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ evaluates.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->

{% endblock %}